* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(222, 223, 225);
}

.pseudo-card-1 {
  width: 750px;
  height: 300px;
  border: 1px solid #afafaf;
  position: fixed;
  top: 280px;
  left: 550px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
}
.pseudo-card-1:hover {
  width: 750px;
  height: 300px;
  border: 1px solid #afafaf;
  position: fixed;
  top: 260px;
  left: 550px;
  background: #fff;
  border-radius: 10px;
  transition: 1s;
  -webkit-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
}

.card {
  width: 800px;
  height: 300px;
  border: 1px solid #afafaf;
  position: fixed;
  background: #fff;
  top: 300px;
  right: 600px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
}
.card:hover {
  width: 800px;
  height: 300px;
  border: 1px solid #888888;
  position: fixed;
  background: rgb(238, 238, 238);
  top: 300px;
  right: 600px;
  border-radius: 10px;
  overflow: hidden;
  transition: 2s;
  -webkit-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
  box-shadow: 4px -1px 41px 17px rgba(34, 60, 80, 0.24);
}

.photo-card {
  display: inline-block;
  width: 49%;
  height: 100%;
  background-image: url(./photo.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.content-card {
  display: inline-block;
  width: 49%;
  height: 100%;
  position: relative;
}

.content-card h1 {
  position: absolute;
  top: 40px;
  left: 40px;
}

.login-text {
  position: absolute;
  top: 90px;
  left: 40px;
}
.login-text a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.shots-text {
  position: absolute;
  top: 190px;
  left: 40px;
  font-size: 1.3;
  color: gray;
}

.shots-text:hover {
  position: absolute;
  top: 190px;
  left: 40px;
  font-weight: 700;
  color: gray;
  transition: 1s;
}

.followers-text {
  position: absolute;
  top: 190px;
  left: 130px;
  font-size: 1.3;
  color: gray;
}

.followers-text:hover {
  display: inline-block;
  position: absolute;
  top: 190px;
  left: 130px;
  font-weight: 700;
  color: gray;
  transition: 1s;
}

#span-1 {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 1.5em;
  color: gray;
}

#span-2 {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 1.5em;
  color: gray;
}

img {
  position: fixed;
  right: 552px;
  top: 395px;
}

img:hover {
  position: fixed;
  right: 550px;
  top: 395px;
  transition: 0.4s;
  transform: scale(1.2, 1.2);
}

#pro {
  display: inline-block;
  width: 45px;
  height: 30px;
  position: fixed;
  top: 325px;
  right: 625px;
  color: #fff;
  background-color: grey;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 25%;
}
